<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<div class="contextual">
	<%= render_project_action_links %>
</div>

<h2><%= l(:label_project_plural) %></h2>
<%= form_tag({}, :method => :get) do %>
<fieldset>
	<legend>
		<%= l(:label_filter_plural) %>
	</legend>
	<label for='status'><%= l(:field_status) %> :</label>
	<%= select_tag 'priority', options_for_select(["High", "Medium", "Low"], params.has_key?(:priority) ? params[:priority] : ""), :prompt => "Select Priority", :class => "small", :onchange => ""  %>
	<label for='type'><strong>OR</strong></label>
	<label for='type'>Type :</label>
	<%= select_tag 'type', options_for_select(["Hourly", "Fix"], params.has_key?(:type) ? params[:type] : ""), :prompt => "Select Type", :class => "small", :onchange => ""  %>

	<label for='technology'><strong>OR</strong></label>
	<label for='technology'>Technology :</label>
	<%= select_tag 'technology', options_for_select(["IPhone", "Android", "API", "PHP", ".NET", "Ruby on Rails", "AngularJS", "Digital Marketing"], params.has_key?(:technology) ? params[:technology] : ""), :prompt => "Select Technology", :class => "small", :onchange => ""  %>

	<!--label for='name'><%#= l(:label_project) %>:</label-->
	<%#= text_field_tag 'name', params[:name], :size => 30 %>
	<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
	<%= link_to l(:button_clear), {:controller => 'projects', :action => 'index'}, :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;

<div id="projects-index">
	<!--Original Project index view Start-->
	<!--<%#= render_project_hierarchy(@projects) %>-->
	<!--Original Project index view End-->

	<!--New Updated Project index view Start-->
	<div class="autoscroll">
		<table class="list">
			<thead>
				<tr>
					<th><%= l(:label_project)%></th>
					<!--th><%#=l(:field_is_public)%></th-->
					<th>Priority</th>
					<th>Type</th>
					<th>Technologies</th>
					<th>Developers</th>
					<!--th><%#= l(:field_created_on)%></th-->
					<th>Start Date</th>
					<th>End Date</th>
					<th></th>
					<!--th></th-->
				</tr>
			</thead>
			<tbody>
				<% project_tree(@projects) do |project, level| %>
				<tr class="<%= cycle("odd", "even") %> <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
					<td class="name"><span><%= link_to_project(project, {}, :title => project.short_description) %></span></td>
					<% view_project = Project.find(project)%>
					<td><%= view_project.custom_field_value(CustomField.find(6)) %></td>
					<td><%= view_project.custom_field_value(CustomField.find(5)) %></td>
					<% type = view_project.custom_field_value(CustomField.find(3)) %>
					<% technolgies = type.compact %>
					<td><%= technolgies.join(", ") %></td>
					<td><%= project.developers %></td>
					<!--td><%#= checked_image project.is_public? %></td-->
					<% start_date = view_project.custom_field_value(CustomField.find(7)) %>
					<% end_date = view_project.custom_field_value(CustomField.find(8)) %>
					<td><%= start_date.nil? ? "" : start_date.to_date.strftime("%d/%m/%Y") %></td>
					<td><%= end_date.nil? ? "" : end_date.to_date.strftime("%d/%m/%Y") %></td>
					<!--td><%#= format_date(project.created_on) %></td-->
					<td><a href="javascript:void(0);" onclick='$("#sprint_<%= project.id%>").slideToggle("slow");'>Sprint</a></td>
					</td>
					<!--td class="buttons">
					<%#= link_to(l(:button_archive), { :controller => 'projects', :action => 'archive', :id => project, :status => params[:status] }, :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'icon icon-lock') unless project.archived? %>
					<%#= link_to(l(:button_unarchive), { :controller => 'projects', :action => 'unarchive', :id => project, :status => params[:status] }, :method => :post, :class => 'icon icon-unlock') if project.archived? && (project.parent.nil? || !project.parent.archived?) %>
					<%#= link_to(l(:button_copy), { :controller => 'projects', :action => 'copy', :id => project }, :class => 'icon icon-copy') %>
					<%#= link_to(l(:button_delete), project_path(project), :method => :delete, :class => 'icon icon-del') %>
					</td-->
				</tr>
				<tr>
					<td colspan="8">
					<div id="sprint_<%= project.id%>" style="display: none;">
						<% if project.sprints_and_product_backlog.empty? %>
						<p class="nodata">
							<%= l(:label_no_data) %>
						</p>
						<%- else -%>
						<table class="list">
							<thead>
								<tr>
									<th><%= l(:field_name) %></th>
									<th><%= l(:field_start_date) %></th>
									<th><%= l(:field_end_date) %></th>
                  <th>Feature</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<% for sprint in project.sprints_and_product_backlog %>
								<tr class="<%= cycle 'odd', 'even' %>">
									<td><%= link_to(h(sprint.name), sprint.is_product_backlog ? project_product_backlog_index_path(project) : sprint) %></td>
									<td align="center"><%= format_date(sprint.start_date) %></td>
									<td align="center"><%= format_date(sprint.end_date) %></td>
									<% feature = sprint.issues.where(:tracker_id => 2).first %>
									<td align="center"><%= feature.nil? ? "" : feature.subject%></td>
									<td align="center">
									<%if sprint.start_date > Date.current %>
									Not Started
									<% elsif sprint.start_date <= Date.current && sprint.end_date >= Date.current  %>
									In Progress
									<% else %>
									Completed
									<% end %>
									</td>
								</tr>
								<% end; reset_cycle %>
							<tbody>
						</table>
						<%- end -%>
					</div></td>
				</tr>
				<%end%>
			</tbody>
		</table>
	</div>
	<!--New Updated Project index view End-->

</div>

<% if User.current.logged? %>
<p style="text-align:right;">
	<span class="my-project"><%= l(:label_my_projects) %></span>
</p>
<% end %>

<% other_formats_links do |f| %>
<%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% content_for :sidebar do %>
<%= form_tag({}, :method => :get) do %>
<h3><%= l(:label_project_plural) %></h3>
<label for="closed"><%= check_box_tag 'closed', 1, params[:closed] %> <%= l(:label_show_closed_projects) %></label>
<p>
	<%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %>
</p>
<% end %>
<% end %>

<% html_title(l(:label_project_plural)) -%>
